body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #bccad6, #667292);
}

.main-navbar {
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.main-navbar h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.logo\&img {
    display: flex;
    justify-content: center;
    float: left;
    border: 3px red solid;
}
.main-navbar-a {
    padding:  10px;
    display: flex;
    justify-content: space-around;
    min-width: 800px
}

/*-----------------------------------------------------------------------------*/

.Flex_Box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Page_Navigator {
    font-family: "Berlin Sans FB Demi", sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    background-color: transparent;
    border: 3px red solid;
}

/*---------------------------------------------------------------------------------*/

.Flex_Box_Jelovnik{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}
.Dnevni_Jelovnik{
    font-family: "Berlin Sans FB Demi", sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    border: 3px red solid;
}
.Naslov{
    font-family: "Berlin Sans FB Demi", sans-serif;
    text-align: center;
    font-size: 20px;
}

/*--------------------------------------------------------------------------*/

.Flex_Box_Lokacije{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}
.Lokacije{
    font-family: "Berlin Sans FB Demi", sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    border: 3px red solid;
}

/*-----------------------------------------------------------------------------*/

.Flex_Box_Budžet{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}
.Moj_Budžet{
    font-family: "Berlin Sans FB Demi", sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    border: 3px red solid;
}

/*-----------------------------------------------------------------------------------------*/

