

/*------------------------------------NE DIRAJ-------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Berlin Sans FB Demi", sans-serif;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------------------------------------------*/

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #bccad6;
    height: auto;
    font-size: 25px;
}
    .main-navbar h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border: black 1px solid;

    }
    .logo\&img {
        display: flex;
        justify-content: space-evenly;
        float: left;
    }
    .main-navbar-a {
        padding:  10px;
        display: flex;
        justify-content: space-around;
        min-width: 800px
    }

.divisions {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    #frontpage-text {
        height: 200px;
        width: auto;
    }
    .divisions p {
        width: fit-content;
        font-size: 20px;
    }



.frontpage-images {
    height: 200px;
    width: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
}
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .footer-links a {
            margin: 1vw;
        }


/*--------------------------------------LUCIJAN-------------------------------------*/


/*----------------------------------------------------------------------------------*/


/*---------------------------------------KARLO--------------------------------------*/


/*----------------------------------------------------------------------------------*/